* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #40bf80;
	color: #333333;
	font-family: courier;
}
.content-wrapper {
	text-align: center;
	padding-top: 35vh;
}
.content-wrapper p {
	font-variant: small-caps;
	font-size: 1.3em;
	padding-bottom: 15px;
}
.links {
	width: 50vw;
	height: auto;
 	margin: 0 auto;
 	
}
.links img {
	width: 45px;
	padding: 7px 0;
	opacity: 0.9;
	vertical-align: middle;
}
a:hover {
	opacity: 0.4;
}

/* Contact Page styling below */

button {
	position: absolute;
	color: #333333;
	background-color: #9edfbe;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	top: 5px;
	left: 5px;
	font-size: 20px;
	font-family: courier;
}
button:hover {
	color: black;
	background-color: #c6ecd9;
	cursor: pointer;
}
h1 {
	text-align: center;
	margin-top: 5vh;
}
.form-container {
	display: block;
	text-align: center;
	background-color: #9edfbe;
	margin: 2vh 4vw;
	padding: 30px 10px;
	border-radius: 10px;
	width: 90vw;
}

#contact-form {
	display: inline-block;
	text-align: left;
	width: 85vw;
}
#contact-form label {
	float: left;
	padding-bottom: 2px;
}
#contact-form input {
	display: block;
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
	padding: 5px;
	background-color: #f2f2f2;
}
textarea {
	display: block;
	width: 100%;
	height: 90px;
	border-radius: 5px;
	padding: 5px;
	background-color: #f2f2f2;
}
#contact-form input[type=submit] {
	width: 150px;
	margin-top: 30px;
	padding: 3px;
	border: 3px solid #9edfbe;
	font-family: courier;
	font-size: 0.8em;
	background-color: #f2f2f2;
}
#contact-form input[type=submit]:hover {
	border: 3px solid #333333;
	cursor: pointer;
}

/* Projects Page styling below */

.project-container {
	display: grid;
	background-color: #9edfbe;
	margin: 2vh 4vw;
	padding: 30px 30px;
	border-radius: 10px;
	width: 90vw;
	grid-template-columns: repeat(3 minmax(300px, 1fr));
	grid-template-rows: repeat(3 1fr);
	grid-column-gap: 4rem;
	grid-row-gap: 1rem;
}
.project-container img {
	max-height: 60px;
}
.project-container li {
	padding-bottom: 3px;
}
h2 {
	font-size: 18px;
}
.icon1 {
	grid-column-start: 1;
	grid-row-start: 1;
	place-self: center;
}
.title1 {
	grid-column-start: 1;
	grid-row-start: 2;
	place-self: center;
}
.desc1 {
	grid-column-start: 1;
	grid-row-start: 3;
	place-self: center;
}


.icon2 {
	grid-column-start: 2;
	grid-row-start: 1;
	place-self: center;
}
.title2 {
	grid-column-start: 2;
	grid-row-start: 2;
	place-self: center;
}
.desc2 {
	grid-column-start: 2;
	grid-row-start: 3;
	place-self: center;
}


.icon3 {
	grid-column-start: 3;
	grid-row-start: 1;
	place-self: center;
}
.title3 {
	grid-column-start: 3;
	grid-row-start: 2;
	place-self: center;
}
.desc3 {
	grid-column-start: 3;
	grid-row-start: 3;
	place-self: center;
}


@media screen 
	and (max-width: 600px) {
		h2 {
			font-size: 14px;
		}
		.project-container {
	
	margin: 2vh 4vw;
	padding: 30px 30px;
	border-radius: 10px;
	width: 90vw;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(9 1fr);
	grid-column-gap: 4rem;
	grid-row-gap: 1rem;
}
.icon1 {
	grid-column-start: 1;
	grid-row-start: 1;
	place-self: center;
}
.title1 {
	grid-column-start: 1;
	grid-row-start: 2;
	place-self: center;
}
.desc1 {
	grid-column-start: 1;
	grid-row-start: 3;
	place-self: center;
}


.icon2 {
	grid-column-start: 1;
	grid-row-start: 4;
	place-self: center;
	padding-top: 30px;
}
.title2 {
	grid-column-start: 1;
	grid-row-start: 5;
	place-self: center;
}
.desc2 {
	grid-column-start: 1;
	grid-row-start: 6;
	place-self: center;
}


.icon3 {
	grid-column-start: 1;
	grid-row-start: 7;
	place-self: center;
	padding-top: 30px;
}
.title3 {
	grid-column-start: 1;
	grid-row-start: 8;
	place-self: center;
}
.desc3 {
	grid-column-start: 1;
	grid-row-start: 9;
	place-self: center;
}

	}
